<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consortium</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Text </th>
        </tr>
    </thead>
    <tbody>
	<p>Title</p>
        <tr th:each="Consortium : ${consortium}">
            <td><span th:text="${consortium.consortiumtitlu}"> Title </span></td>
            <td><span th:text="${consortium.consortiumtext}"> Text </span></td>
             
        </tr>
    </tbody>
</table>
</body>