<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head><title>Contact</title></head>
<body>
	<form action="addContact">
		<p>Nume</p><input type="text" name="nume"><br/>
		<p>Mail</p><input type="text" name="mail"><br/>
		<p>Company</p><input type="text" name="company"><br/>
		<p>Subject</p><input type="text" name="subject"><br/>
		<p>Message</p><input type="text" name="message"><br/>
		<input type="submit"><br/>
	</form>

</body>
</html>